In [1]:
import mysql.connector as connector
from mysql.connector import Error

## Connect and create database

In [2]:
DB_NAME = "university"

try:
    db = connector.connect(host = "localhost", user = "root", password = "maftuh2003")

    if db.is_connected():
        print("MySQL is connected")
        cursor = db.cursor()

        cursor.execute("CREATE DATABASE " + DB_NAME)
        print("Database", DB_NAME, "is created")
        db.database = DB_NAME

except Error as e:
    print("Error while connecting to MySQL", e)

MySQL is connected
Database university is created

## Create tables

In [3]:
ddl_path = "DDL.sql"

with open(ddl_path, 'r') as file:
    query = file.read()
    try:
        cursor.execute(query)
        print("Tables are created")
    except Error as e:
        print("Error while connecting to MySQL", e)

Tables are created

## Insert Data

In [4]:
data_path = "data/smallRelationsInsertFile.sql"
try:
    with open(data_path, 'r') as file:
        query = file.read()

    cursor.execute(query)
    db.commit()
    print("Insert data success")

except Error as e:
    print("Error while connecting to MySQL", e)